//npm.pkg.github.com/:_authToken=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
@Ninja77030801:registry=https://npm.pkg.github.com/-/user/org.couchdb.user:ninja77030801/-/user/org.couchdb.user:ninja77030801